<div id="segment-header" class="segment">  <!-- segment-header -->
    <div class="container flex">  <!-- container -->
        <a id="logo" href="http://hl7.org/fhir"><img alt="fhir logo" src="assets/images/fhir-logo-www.png"/> </a>
        <div id="hl7-status">
            <strong>eCQM Methodology Implementation Guide</strong>
        </div>
    </div>
</div>  <!-- /segment-header -->

<div class="segment">  <!-- segment-navbar -->
    <div class="container">  <!-- container -->
        <!-- HEADER CONTENT -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
                <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" class="item">Home</a></li>
                        <li><a href="profiles.html" class="item">Profiles</a></li>
                        <li><a href="authoring.html" class="item">Authoring</a></li>
                        <li><a href="packaging.html" class="item">Packaging</a></li>
                        <li><a href="implementation.html" class="item">Implementation</a></li>
                        <li><a href="testing.html" class="item">Testing</a></li>
                        <li><a href="publishing.html" class="item">Publishing</a></li>
                        <li><a href="maintenance.html" class="item">Maintenance</a></li>
                    </ul>

                </div>  <!-- /.nav-collapse -->
            </div>  <!-- /.container -->
        </nav>  <!-- /.navbar -->
        <!-- /HEADER CONTENT -->
    </div>  <!-- /container -->
</div>  <!-- /segment-navbar -->
